ORGANIZER_BUNDLE_PATH=sdoc-hackathon-bundle
DATABASE_URL=postgresql+psycopg://holyship:holyship@localhost:5432/holyship
HOLYSHIP_TEST_DATABASE_URL=postgresql+psycopg://holyship:holyship@localhost:5432/holyship
POSTGRES_DB=holyship
POSTGRES_USER=holyship
POSTGRES_PASSWORD=holyship
